    /* color palette from <https://github.com/vuejs/theme> */

:root {
  --primary-color: #365486; /* 주 색상 */
  --secondary-color: #6a85b6; /* 보조 색상 */
  --accent-color: #4C516D; /* 강조 색상 */
  --primary-gradient: linear-gradient(to right, #6a85b6 0%, #bac8e0 100%);
  --text-black: #000000;
  --text-primary: #2C3E50; /* 주 텍스트 색상 */
  --text-hint: #949494; /* 보조 텍스트 색상 */
  --text-hint-light: #c9c9c9; /* 보조 텍스트 색상 */
  --text-hint-dark: #7a7a7a;
  --background-color-gray: #f1f4f6; /* 배경 색상 */
  --button-hover: #4E6EF2; /* 버튼 호버 상태 색상 */
  --white: #fff;
}

    /*
!* semantic color variables for this project *!
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}
*/

@font-face {
  font-family: 'primary-font';
  src: url("font/static/NotoSansKR-Regular.ttf");
}

@font-face {
  font-family: 'MiSans-Light';
  src: url("font/MiSans-Light.ttf");
}

@font-face {
  font-family: 'MiSans-Medium';
  src: url("font/MiSans-Medium.ttf");
}

@font-face {
  font-family: 'MiSans-Semibold';
  src: url("font/MiSans-Semibold.ttf");
}
@font-face {
  font-family: 'MiSans-Normal';
  src: url("font/MiSans-Normal.ttf");
}

@font-face {
  font-family: 'MiSans-Heavy';
  src: url("font/MiSans-Heavy.ttf");
}
@font-face {
  font-family: 'gothic';
  src: url("font/malgun.ttf");
}

@font-face {
  font-family: 'gothic-bold';
  src: url("font/malgunbd.ttf");
}




@media (prefers-color-scheme: dark) {

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
button {
  font-family: MiSans-Semibold, sans-serif;
  color: white;
}
body {

}
