@import './base.css';

#app {
    background-color: var(--background-color-gray);
}
body {
    min-height: 100vh;
    color: var(--primary-color);
    background: var(--background-color-gray);
    font-family: MiSans-Semibold,sans-serif;
    transition:
            color 0.5s,
            background-color 0.5s;
    line-height: 1.6;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}*/

/*@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
*/
@media (max-width: 600px) {
    body {
        display: flex;
        justify-content: center;
    }

    #app {
      min-width: 400px;
      width: 100%;
    }
}

